@import url('https://fonts.cdnfonts.com/css/richie-brusher');
@import url('https://fonts.cdnfonts.com/css/brillotus');
@import url('https://fonts.cdnfonts.com/css/borel');
@import url('https://fonts.cdnfonts.com/css/jetbrains-mono');
body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100%;
    height: auto;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    max-height: 850px;
}

.card {
    position: absolute;
    width: 30%;
    max-width: 190px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transition: transform 0.3s ease;
}

.card1 { top: 10%; left: 15%; transform: rotate(10deg); }
.card2 { top: 20%; right: 10%; transform: rotate(-12deg); }
.card3 { bottom: 15%; left: 20%; transform: rotate(8deg); z-index: 9;}
.card4 { bottom: 20%; right: 15%; transform: rotate(-10deg); z-index: 10;}
.card5 { top: 5%; left: 50%; transform: translateX(-50%) rotate(5deg); }
.card6 { bottom: 10%; left: 5%; transform: rotate(-7deg); z-index: 10;}
.card7 { bottom: 5%; right: 5%; transform: rotate(7deg); z-index: 9;}

.main {
    z-index: 4;
    position:fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    pointer-events: none;
    height: 100vh;
}

.blur-box {
    z-index: -1;
    width: 220px;
    height: 120px;
    background-color: rgb(220, 220, 220);
    position: absolute;
    border-radius: 50%;
    filter: blur(50px);
}

.main h1 {
    filter: drop-shadow(-0px 0px 0px #000000);
    font-size: 32pt;
    text-align: center;
    color: rgb(5, 5, 5);
    margin: 0;
    font-family: 'Richie Brusher', sans-serif;
}

.main h1 span {
    background: url(https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExNW9lcjBlMTdpOTYwbzF0bDZ6YTVsaXp1YmFyd2hud3QwNTE1OTBtOCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/0oYBxMzAFU3iHhsPk6/giphy.webp);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main p {
    color: rgb(0, 0, 0);
    font-weight: 300;
    margin: 0;
    font-family: 'Brillotus', sans-serif;
}

.ent-btn {
    margin: 3px;
    border: 0px;
    border-radius: 34px;
    cursor: pointer;
    font-family: 'Borel', sans-serif;
    text-align: center;
    text-decoration: underline;
    transition: 0.4s;
    background-color: transparent;
}

.ent-btn:focus {
    transition: 0.3s ease-in-out;
    text-decoration: none;
    color: rgb(48, 48, 48);
    transform: scale(0.95);
}

.ent-btn:hover {
    transform: scale(0.95);
    font-weight: 900;
}

.filler {
    z-index: 10;
    margin-top: 890px;
    position: absolute;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'JetBrains Mono', sans-serif;
    width: 100%;
    height: 100vh;
}

.filler h1 {
    width: 100%;
    max-width: 430px;
    margin-left: 24px;
}

.filler h1::after {
    content: ' ';
    display: block;
    width: 3px;
    height: 200px;
    background-color: rgb(36, 36, 36);
    position: absolute;
    transform: translate(-22px, -23px);
}

.information {
    width: 90%;
    max-width: 430px;
    font-size: 12px;                                            
    margin: 12px;
    padding: 12px;
}

@media only screen and (max-width: 995px) {
    .card { width: 34%; }
    .card1 { top: 12%; left: 10%; }
    .card2 { top: 18%; right: 8%; }
    .card3 { bottom: 12%; left: 15%; }
    .card4 { bottom: 15%; right: 12%; }
    .card5 { top: 8%; left: 50%; }
    .card6 { bottom: 8%; left: 8%; }
    .card7 { bottom: 8%; right: 8%; }

    .main h1 {
        font-weight: 300;
    }
}

@media only screen and (max-width: 617px) {
    .card { width: 40%; }
    .card1 { top: 15%; left: 3%; }
    .card2 { top: 22%; right: 5%; }
    .card3 { bottom: 10%; left: 10%; rotate: -19deg;}
    .card4 { bottom: 23%; right: 8%; rotate: 23deg }
    .card5 { top: 10%; left: 50%; }
    .card6 { bottom: 4%; left: 5%; }
    .card7 { bottom: 5%; right: 3%; }

    .main h1 {
        font-weight: 300;
    }
}
